@charset "utf-8";
/*皮肤：缇娜*/
body {
	background: #f1f2f3;
	color: #333;
}

/*左右布局*/
/*左侧菜单*/
.admin-left {
	background-color: #1c2b36;
}
.admin-left .logo h1 {
	color: #fff;
}
.admin-left .menu a {
	color: #869fb1;
}
.admin-left .menu li.menu-item > a:hover, .admin-left li.menu-item li a:hover, .admin-left .menu-item ul .hover a, .admin-left .menu-item.menu-show > a, .admin-left .menu-item.hover > a {
	background-color: #131e26;
	color: #fff;
}
.admin-left .menu-item.menu-show{
	border-left: 4px solid #19a9d5;
	background: #131e26;
}

/*右侧顶部*/
.admin-header {
	border-bottom: 1px solid #ededf1;
	background: #fff;
}
.admin-header .header-right li {
	border-left: 1px solid #ededf1;
	color: #333;
}
.admin-header .header-right li .avatar {
	border: 1px solid #d8d8dd;
}
.admin-header .header-right li a {
	color: #333;
}
.admin-header .icon-commenting-o i {
	background: #ff3555;
}
.admin-header .icon-commenting-o i span {
	color: #fff;
}

/*面包屑导航*/
.breadcrumb {
	border-left: 1px solid #ededf1;
	background: #fff;
}
.breadcrumb .divider {
	color: #d9d9d9;
}
.breadcrumb .active {
	color: #777;
}

/*iframe布局*/
.admin-iframe-header {
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
}
.admin-iframe-nav ul.navs > li.nav > a {
	color: #fff;
}
.admin-iframe-nav ul.navs > li.nav > a:hover {
	color: #000;
	background-color: #fff;
}
.admin-iframe-nav ul.navs > li.nav.active > a {
	color: #000;
	background-color: #fff;
}
.admin-iframe-header h1.logo > a {
	color: #fff;
}
.admin-iframe-header-right{
	color: #fff;
}
.admin-iframe-header-right ul.navs > li.nav > a {
	color: #fff;
}
.admin-iframe-menu {
	border-right: solid 1px #eee;
}
.admin-iframe-menu>ul.menu:first-child {
	background: #fff;
}
.admin-iframe-menu ul.menu > a {
	color: #3399FF;
}
.admin-iframe-menu li > a {
	color: #657180;
}
.admin-iframe-menu li.active > a {
	color: #39f;
	background-color: #F3F3F3;
	border-left: 2px solid #3399FF;
}
.admin-iframe-menu ul.menu>li>a:hover, .admin-iframe-menu ul.menus ul.menu>li a:hover {
	background-color: #F3F3F3;
	color: #39f;
}
.admin-iframe-menu ul.menus>li> a {
	color: #555;
}
.admin-iframe-content {
	background-color: #fff;
}
.admin-iframe-content a {
	color: #353535;
}
/*修改滚动条样式*/
.admin-iframe-menu::-webkit-scrollbar {width: 6px;height: 6px;}
.admin-iframe-menu::-webkit-scrollbar-thumb {background-color: #c2c2c2;background-clip: padding-box;min-height: 28px;}
.admin-iframe-menu::-webkit-scrollbar-track-piece {background-color: #FFF;}

/*主体内容布局*/
.block{background-color: #fff;box-shadow: 0 0 8px 1px #e4e5e6;overflow: hidden;}
.block>h2{border-bottom: 1px solid #E5E5E5;}

/*修饰块元素*/
.banner {
	color: #666;
}
.banner .tab {
	color: #333;
}
.banner .tab.fixed:before {
	background-color: #055f95;
}

/*分割线*/
.block .divider{
	border-top: 1px solid #f1f1f1;
}

/*表格上方的操作元素，添加、删除等*/
.operation-wrap {
	background: #F5F5F5;
	border: 1px solid #E5E5E5;
	border-bottom-width: 0;
}

/*输入框*/
input.text {
	color: #333;
}
/*修改placeholder颜色*/
input::-webkit-input-placeholder {
	color: #999;
}
input::-moz-input-placeholder {
	color: #999;
}
input::-ms-input-placeholder {
	color: #999;
}

/*单选框和复选框*/
/*普通样式*/
input[type="radio"].fill ~ .fill-css {
	border: 1px solid #c0c0c0;
}
input[type="checkbox"].fill ~ .fill-css {
	border: 1px solid #c0c0c0;
}
.fill:disabled ~ .fill-css {
	border: 1px solid #ccc;
}
input[type="radio"].fill:checked ~ .fill-css, input[type="checkbox"].fill:checked ~ .fill-css {
	border: 1px solid #2196f3;
	background-color: #2196f3;
}
input[type="radio"].fill:checked[disabled] ~ .fill-css, input[type="checkbox"].fill:checked[disabled] ~ .fill-css {
	border: 1px solid #c9e2f9;
	background-color: #c9e2f9;
}
/*开关样式复选框*/
.switch {
	background-color: #999;
	box-shadow: #dfdfdf 0 0 0 0 inset;
}
.switch:checked {
	border-color: #3a9bd9;
	box-shadow: #3a9bd9 0 0 0 16px inset;
	background-color: #3a9bd9;
}

/*select下拉选择框样式*/
.select {
	background: #fff;
	color: #666;
}
.select-ul {
	background-color: #FFF;
	border-left: 1px solid #eaf6fe;
	border-right: 1px solid #eaf6fe;
	border-bottom: 1px solid #eaf6fe;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}
.select-ul::-webkit-scrollbar-thumb {
	background-color: #C1C1C1;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5)
}
.select-ul-item {
	color: #555;
}
.select-ul-item:hover {
	color: #108cee;
	background-color: #eaf6fe
}
.select-ul-item.select-ul-item-selected {
	color: #108cee
}
.select-ul-item:disabled {
	color: #999;
	background-color: #f6f7fb;
}

/*表格*/
.table, .tableTime {
	border: 1px solid #E5E5E5;
}
.table th, .tableTime th {
	border-bottom: 1px solid #ccc;
	background: #F6F7FB;
	color: #555;
}
.table td,.tableTime td {
	border-bottom: 1px solid #E5E5E5;
	color: #666;
}
.table th, .table td, .tableTime th, .tableTime td {
	border-color: #E5E5E5;
	border-left: 1px solid #E5E5E5;
}
.table tr:hover {
	background: #F6F7FB;
}
.table th:first-child, .table td:first-child, .tableTime th:first-child, .tableTime td:first-child{
	border-left:none;
}
.table tr:last-child td, .tableTime tr:last-child td{
	border-bottom:none;
}
.no-vertical-line th, .no-vertical-line td{
	border-left:none;
}
.no-cross-line th, .no-cross-line td{
	border-bottom:none;
}
.table.no-border-line, .table.no-line{
	border:none;
}
.no-line th, .no-line td{
	border-left:none;border-bottom:none;
}
/*隔行着色：color1代表奇数行；color2代表偶数行*/
.color1 tr:nth-child(odd) {
	background: #F6F7FB;
}
.color2 tr:nth-child(even) {
	background: #F6F7FB;
}

/*tab选项卡切换*/
.tab {
	background: #fff;
}
.tab em a {
	color: #555;
}
.tab em a:hover {
	color: #ff3c00;
}
.tab-title {
	border-bottom: 1px solid #e5e5e5;
}
.tab-title em {
	color: #555;
	font-style: normal;
	font-weight: 100;
	line-height: 42px;
}
.tab-title li.current {
	color: #2fb3ff;
	border-bottom: 1px solid #2fb3ff;
}
.tab-title li {
	color: #6d757a;
}
.tab-title .more {
	color: #909090;
}

/*评分*/
.score.active li .icon-star {
	color: #1b8afa;
}
.score li .icon-star {
	color: rgba(27, 138, 250, 0.6);
}
.score .level-text {
	width: 300px;
	font-size: 16px;
	position: absolute;
	margin-top: 2px;
	margin-left: 10px;
}

/*日期选择框*/
/*日期选择框*/
.date {
	background: url(../../images/calendar.png) no-repeat right;
	border: 1px solid #dcdcdc;
}
.time {
	border: 1px solid #dcdcdc;
}
.date-main {
	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}
.date-main td.choice-style {
	color: #108cee;
}
.date-main td.dateRangeGray {
	color: #BBB;
}
.date-main td.started, .date-main td.ended, .date-main td.selected {
	color: #fff;
}
.date-main table thead tr {
	background: #f1f2f3;
}
.date-main table thead th {
	color: #444;
}
.date-foot {
	border-top: 1px solid #F0F0F0;
}
/*修改滚动条样式*/
.date-ui ul::-webkit-scrollbar-thumb {
	background-color: #C1C1C1;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5)
}
.date-ui li:hover {
	color: #108cee;
	background-color: #eaf6fe
}
.date-ui li.current {
	color: #fff;
	background-color: #2196f3;
}
.date-main td.riqi:hover {
	color: #108cee;
	background-color: #eaf6fe;
}
.date-main td.dateRangeGray:hover {
	color: #BBB;
	background-color: #fff;
}
.date-main td.started:hover, .date-main td.ended:hover, .date-main td.selected:hover {
	color: #fff;
}

/*表单样式*/
/*标签*/
.tagbox {
	background-color: #fff;
	border: 1px solid #ccc;
}
.tags .tag {
	background-color: #39f;
	color: #fff;
}
.tag-remove {
	color: #fff;
}
/*提示*/
.unit .hint {
	color: #999;
}
/*行标题*/
.unit .left .subtitle {
	color: #333;
}
/*下拉选择框*/
.unit .right .select{
	color: #333;
}
/*日期选择框*/
.unit .right input.date {
	color: #333;
}
/*文本域、标签*/
textarea.desc, div.tagbox{
	color: #333;
}

/*表单验证的错误样式*/
.error-parent input, .error-parent textarea, .error-parent select {
	border: 1px solid #bbb;
	border-color: #c00;
}
.win-hint {
	background-color: #ff9101;
	color: #fff;
}
.win-hint .tail {
	color: #ff9101;
}

/*分类筛选*/
.classify-list .classify-title {
	color: #999;
}
li.classify-li .classify-letter{
	color: #555;
}
li.classify-li.on .classify-letter {
	color: #fff;
	background: #2fb3ff;
}

/*分页*/
.pagination>li {
	margin-right: 3px;
}
.pagination>li>a {
	background-color: #fff;
	color: #fff;
	background: #3a9bd9;
}
.pagination>li>a:focus,.pagination>li>a:hover {
	border-color: #ddd;
	background: #4ea5dd;
	color: #fff;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover {
	background-color: #eee;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	color: #333;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover {
	color: #777;
	background-color: #fff;
	border-color: #ddd;
}

/*评论*/
.comment .comment-input {
	background-color: #fff;
	border: 1px solid #d8d8d8;
}
.comment .avatar50 .face {
	border: 0 solid #fff;
}
.comment .comment-ul li {
	border-top: 1px solid #f6f6f6;
}
.comment .posr {
	background-color: #f0f1f2;
}
.comment .posr li {
	border-bottom: 1px solid #e5e5e5;
}
.comment .say-btn {
	background-color: #fff;
	color: #333;
	border: 1px solid transparent;
}
.comment a.say-btn {
	color: #333;
}

/*弹出层*/
.dialog {
	box-shadow: 0 6px 24px rgba(0, 0, 0, .24);
	border: none;
	background-color: #fff;
}
.dialog-top {
	background-color: #f6f7fb;
}
.dialog-title {
	color: #666;
}
.dialog-min-icon {
	color: #333;
}
.dialog-max-icon {
	color: #333;
}
.dialog-revert-icon {
	color: #333;
}
.dialog-close-icon {
	color: #333;
}
.dialog-content {
	color: #333;
}
.dialog-btn-true {
	color: #fff;
	background-color: #2196f3;
}
.dialog-btn-false {
	color: #108cee;
	background-color: #eaf6fe;
}
.resize {
	border-color: #CECECE;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

/*元素追随弹出层*/
.panel {
	background: #fff;
	color: #333;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,.15);
}
.panel.arrow-left {
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.15);
}
/*弹出菜单示例*/
.sub-menu li {
	height: 42px;
	line-height: 42px;
	width: 100%;
	background: #fff;
	border-top: 1px solid #f2f2f2;
}
.sub-menu li a {
	background: #fff;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #555;
}
.sub-menu li:hover, .sub-menu li:hover a {
	color: #108cee;
	background-color: #eaf6fe;
}

/*删除专用弹出层*/
.danger-dialog-wrapper {
	background: #fff;
	border: 1px solid #d1d1d1;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
}
.danger-dialog-wrapper .danger-dialog-wrapper-content {
	color: #222;
}
.danger-dialog-wrapper .danger-dialog-wrapper-tip {
	color: #999;
}
.danger-dialog-wrapper .danger-dialog-wrapper-button .danger {
	background: #fd4c5b;
	color: #fff;
}
.danger-dialog-wrapper .danger-dialog-wrapper-button button {
	background: #d8d8d8;
	color: #222;
}
.danger-dialog-wrapper:after {
	border-color: rgba(255,255,255,0);
	border-bottom-color: #fff;
}
.danger-dialog-wrapper:before {
	border-color: rgba(209,209,209,0);
	border-bottom-color: #d1d1d1;
}

/*头像上传*/
.image-box {
	border: 1px solid #aaa;
	background: #fff;
}
.image-box .cut-box {
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}
.avatar180, .avatar50, .avatar30 {
	border: 1px solid #ddd;
}

/*图片上传*/
.img-trash span {
	color: #2196f3;
}
