@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6xzpwo');
  src:  url('fonts/icomoon.eot?6xzpwo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6xzpwo') format('truetype'),
    url('fonts/icomoon.woff?6xzpwo') format('woff'),
    url('fonts/icomoon.svg?6xzpwo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-block:before {
  content: "\e14b";
}
.icon-explore:before {
  content: "\e87a";
}
.icon-fiber_manual_record:before {
  content: "\e061";
}
.icon-insert_drive_file:before {
  content: "\e24d";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-security:before {
  content: "\e32a";
}
.icon-share:before {
  content: "\e80d";
}
.icon-slow_motion_video:before {
  content: "\e068";
}
.icon-storage:before {
  content: "\e1db";
}
.icon-tv:before {
  content: "\e333";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-videocam:before {
  content: "\e04b";
}
.icon-videocam_off:before {
  content: "\e04c";
}
.icon-vpn_key:before {
  content: "\e0da";
}
.icon-work:before {
  content: "\e8f9";
}
.icon-access_alarms:before {
  content: "\e191";
}
.icon-add:before {
  content: "\e145";
}
.icon-alarm_add:before {
  content: "\e856";
}
.icon-add_shopping_cart:before {
  content: "\e854";
}
.icon-airplay:before {
  content: "\e055";
}
.icon-android:before {
  content: "\e859";
}
.icon-announcement:before {
  content: "\e85a";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-audiotrack:before {
  content: "\e3a1";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-cloud_upload:before {
  content: "\e2c3";
}
.icon-beenhere:before {
  content: "\e52d";
}
.icon-border_color:before {
  content: "\e22b";
}
.icon-build:before {
  content: "\e869";
}
.icon-cached:before {
  content: "\e86a";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-call_end:before {
  content: "\e0b1";
}
.icon-call_made:before {
  content: "\e0b2";
}
.icon-merge_type:before {
  content: "\e252";
}
.icon-call_missed:before {
  content: "\e0b4";
}
.icon-call_missed_outgoing:before {
  content: "\e0e4";
}
.icon-call_received:before {
  content: "\e0b5";
}
.icon-call_split:before {
  content: "\e0b6";
}
.icon-call_to_action:before {
  content: "\e06c";
}
.icon-camera:before {
  content: "\e3af";
}
.icon-photo_camera:before {
  content: "\e412";
}
.icon-card_membership:before {
  content: "\e8f7";
}
.icon-card_travel:before {
  content: "\e8f8";
}
.icon-cast:before {
  content: "\e307";
}
.icon-cast_connected:before {
  content: "\e308";
}
.icon-chat:before {
  content: "\e0b7";
}
.icon-chat_bubble:before {
  content: "\e0ca";
}
.icon-chat_bubble_outline:before {
  content: "\e0cb";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-cloud_done:before {
  content: "\e2bf";
}
.icon-cloud_download:before {
  content: "\e2c0";
}
.icon-palette:before {
  content: "\e40a";
}
.icon-colorize:before {
  content: "\e3b8";
}
.icon-laptop:before {
  content: "\e31e";
}
.icon-contact_mail:before {
  content: "\e0d0";
}
.icon-contact_phone:before {
  content: "\e0cf";
}
.icon-content_paste:before {
  content: "\e14f";
}
.icon-copyright:before {
  content: "\e90c";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-delete:before {
  content: "\e872";
}
.icon-delete_forever:before {
  content: "\e92b";
}
.icon-description:before {
  content: "\e873";
}
.icon-desktop_mac:before {
  content: "\e30b";
}
.icon-desktop_windows:before {
  content: "\e30c";
}
.icon-exit_to_app:before {
  content: "\e879";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-exposure_neg_1:before {
  content: "\e3cb";
}
.icon-exposure_plus_1:before {
  content: "\e3cd";
}
.icon-fast_forward:before {
  content: "\e01f";
}
.icon-fast_rewind:before {
  content: "\e020";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-get_app:before {
  content: "\e884";
}
.icon-file_upload:before {
  content: "\e2c6";
}
.icon-folder:before {
  content: "\e2c7";
}
.icon-folder_open:before {
  content: "\e2c8";
}
.icon-headset:before {
  content: "\e310";
}
.icon-lock:before {
  content: "\e897";
}
.icon-photo:before {
  content: "\e410";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-label:before {
  content: "\e892";
}
.icon-label_outline:before {
  content: "\e893";
}
.icon-language:before {
  content: "\e894";
}
.icon-laptop_chromebook:before {
  content: "\e31f";
}
.icon-last_page:before {
  content: "\e5dd";
}
.icon-live_tv:before {
  content: "\e639";
}
.icon-local_offer:before {
  content: "\e54e";
}
.icon-local_parking:before {
  content: "\e54f";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-sync:before {
  content: "\e627";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-notifications_active:before {
  content: "\e7f7";
}
.icon-notifications_none:before {
  content: "\e7f5";
}
.icon-notifications_off:before {
  content: "\e7f6";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-personal_video:before {
  content: "\e63b";
}
.icon-phone_android:before {
  content: "\e324";
}
.icon-photo_size_select_actual:before {
  content: "\e432";
}
.icon-power_settings_new:before {
  content: "\e8ac";
}
.icon-priority_high:before {
  content: "\e645";
}
.icon-public:before {
  content: "\e80b";
}
.icon-publish:before {
  content: "\e255";
}
.icon-refresh:before {
  content: "\e5d5";
}
.icon-replay:before {
  content: "\e042";
}
.icon-warning:before {
  content: "\e002";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-zoom_in:before {
  content: "\e8ff";
}
.icon-zoom_out:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e900";
}
.icon-edit-2:before {
  content: "\e901";
}
.icon-search2:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-check2:before {
  content: "\f00c";
}
.icon-close2:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home2:before {
  content: "\f015";
}
.icon-download:before {
  content: "\f019";
}
.icon-lock2:before {
  content: "\f023";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-camera2:before {
  content: "\f030";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo2:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning2:before {
  content: "\f071";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-folder2:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-upload:before {
  content: "\f093";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-scissors:before {
  content: "\f0c4";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-chain-broken:before {
  content: "\f127";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-recycle:before {
  content: "\f1b8";
}
.icon-qq:before {
  content: "\f1d6";
}
.icon-wechat:before {
  content: "\f1d7";
}
.icon-weixin:before {
  content: "\f1d7";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-sliders:before {
  content: "\f1de";
}
.icon-area-chart:before {
  content: "\f1fe";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-user-o:before {
  content: "\f2c0";
}
